<!DOCTYPE html>
<html lang="zh">
   <head>
      <title>Waterblock79's website</title>
      <meta name="viewport" content="width=device-width,initial-scale=1" />
      <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
      <link rel="icon" type="image/png" href="/assets/icon.png" />
      <!-- Google tag (gtag.js) -->
      <script
         async
         src="https://www.googletagmanager.com/gtag/js?id=G-YFC9SHL1Q7"
      ></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag() {
            dataLayer.push(arguments);
         }
         gtag("js", new Date());
         gtag("config", "G-YFC9SHL1Q7");
      </script>
   </head>
   <body>
      <div class="card index-about" time>
         <!-- Content -->
         <div class="title">
            嗨！欢迎来到 <span class="name">waterblock79</span> 的小站
         </div>
         <div class="about">
            <ul>
               <li>
                  这是一名在 <b>北京</b> 的 <b>大学生</b>。
               </li>
               <li>
                  使用并学习着：<b>HTML / CSS</b>、<b>Javascript</b> +
                  <b>Typescript</b>、<b>Vue.js</b>、<b>Python</b>。
               </li>
            </ul>
         </div>
         <div class="contact">
            <a
               class="chip"
               href="//github.com/waterblock79"
               target="_blank"
               tooltip="Github"
            >
               <ion-icon name="logo-github" class="icon"></ion-icon>
            </a>
            <a
               class="chip"
               href="//gitblock.cn/Users/1068072"
               target="_blank"
               tooltip="阿儿法营 / 稽木世界"
            >
               <img src="./assets/a-icon.png" class="icon" />
            </a>
            <a
               class="chip"
               id="mail-link"
               tooltip="电子邮件"
            >
               <ion-icon name="mail-open" class="icon"></ion-icon>
               <span class="chip-text"></span>
            </a>
            <script>
               const eA = 'd2F0ZXJibG9jazc5QG91dGxvb2suY29t';
               document.querySelector('#mail-link').href = 'mailto:' + atob(eA);
               document.querySelector('#mail-link .chip-text').innerText = atob(eA);
            </script>
         </div>
      </div>
      <div class="index-infos">
         <div class="index-message card" style="display: none">
            <div>placeholder</div>
            <div class="date">placeholder</div>
         </div>
         <div class="index-projects card">
            <div class="title">
               <span>近期的项目和作品</span>
               <span class="btn" id="show-archived-btn">显示已归档项目</span>
            </div>
            <div class="projects">
               <a
                  class="project"
                  href="//waterblock79.github.io/posts/recitation"
                  target="_blank"
               >
                  <img
                     src="./posts/recitation/assets/icon.jpg"
                     class="logo"
                  ></ion-icon>
                  <div>
                     <div class="title">ReciTaTion</div>
                     <div class="description">
                        古诗文背诵辅助工具
                     </div>
                  </div>
               </a>
               <a
                  class="project"
                  href="//waterblock79.github.io/aerfaying-explore/"
                  target="_blank"
               >
                  <ion-icon
                     name="extension-puzzle"
                     class="logo"
                     style="color: #455a64"
                  ></ion-icon>
                  <div>
                     <div class="title">Aerfaying Explore</div>
                     <div class="description">
                        一个开源脚本，为稽木世界社区提供了一些优化、补丁及小功能来提升社区内的探索效率和用户体验。
                     </div>
                  </div>
               </a>
               <a class="project archived" href="//gitblock.cn/Posts/6601/View" target="_blank">
                  <ion-icon name="cloud" class="logo md hydrated" style="color: #455a64" role="img"></ion-icon>
                  <div>
                     <div class="title">FreeJSON</div>
                     <div class="description">
                        一个稽木世界社区内项目，实现作品内获取一言、天气、用户头像等功能
                     </div>
                  </div>
               </a>
               <a class="project archived" href="//github.com/waterblock79/waterfall" target="_blank">
                  <ion-icon name="logo-android" class="logo md hydrated" style="color: #455a64" role="img"></ion-icon>
                  <div>
                     <div class="title">Waterfall</div>
                     <div class="description">
                        一个 Android 设备管理器
                     </div>
                  </div>
               </a>
               <a class="project archived" href="/posts/as-a-scratcher.html" target="_blank">
                  <ion-icon name="git-commit" class="logo md hydrated" style="color: #455a64" role="img"></ion-icon>
                  <div>
                     <div class="title">Scratch 作品</div>
                     <div class="description">
                        包括 Zinc Engine、Edge 等 Scratch 作品。
                     </div>
                  </div>
               </a>
            </div>
         </div>
      </div>
      <div class="index-posts card">
         <div class="title">博客</div>
         <div class="posts">
            <% posts.forEach((post) => { %>
            <a class="post" href="<%= `posts/${post.id}.html` %>">
               <% if (post.image?.length) { %>
               <div
                  class="background"
                  style="--background: url(/posts/assets/<%= post.image %>)"
               ></div>
               <% } %>
               <div class="post-content">
                  <div class="post-title"><%= post.title %></div>
                  <div class="post-excerpt"><%= post.excerpt %></div>
               </div>
               <div class="post-info">
                  <ion-icon name="time"></ion-icon>
                  <span class="time"
                     ><%= post.dateString
                     %></span
                  >
                  <% if (post.tags?.length) { %>
                  <ion-icon name="pricetag"></ion-icon>
                  <% } %> <% post.tags.forEach((tag) => { %>
                  <span class="tag"><%= tag %></span>
                  <% }) %>
               </div>
            </a>
            <% }) %>
         </div>
      </div>
      <div class="index-footer">更新于 <%= updateDateString %></div>
      <script>
         /**
          * @return {HTMLElement[]}
         */
         const $ = (selector) => document.querySelectorAll(selector);
         const getParents = (el) => {
            const re = (e, l) => {
               l.push(e);
               if (e !== document.body) return re(e.parentElement, l);
               else return l;
            }
            return re(el.parentElement, []);
         }

         const getPeriod=()=>{const d=new Date(),h=d.getHours()+d.getMinutes()/60,s=Math.sin((Date.now()/864e5-81)*.0172),r=6+s*1.5,t=18+s*1.5;return (h>=r-.5&&h<=r+.5||h>=t-.5&&h<=t+.5)?'sunrise_sunset':h>r&&h<t?'day':'night';} // AI 生成
         $(".index-about")[0].setAttribute("time", getPeriod());

         $('#show-archived-btn')[0].addEventListener('click', () => {
            const proj = $('.index-projects .projects')[0];
            if (proj.classList.contains('show-archived')) {
               proj.classList.remove('show-archived');
               $('#show-archived-btn')[0].innerText = "显示已归档项目";
            } else {
               proj.classList.add('show-archived');
               $('#show-archived-btn')[0].innerText = "隐藏已归档项目";
            }
         });
      </script>
      <script
         type="module"
         src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
         nomodule
         src="https://cdn.jsdelivr.net/npm/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
   </body>
</html>
